<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Todo List</title>

    <script>
      const token = document.querySelector("meta[name='csrf-token']").getAttribute("content")
      const updateTodo = (id) => {
      const bool = document.querySelector(`#checkbox-${id}`).checked
      console.log(bool);
      fetch(`/todos/${id}`, {method: "PUT",headers: {"Content-Type": "application/json",},body : JSON.stringify({_csrf : token,
        completed : bool
        })
      }).then((res) => {if (res.ok) {
          window.location.reload();
        }
      })
      .catch(err);{
        console.log(err);
      }
    };
        function deleteTodo(id) {
    fetch(`/todos/${id}`,{
      method: "delete",
      headers: {"Content-Type":"application/json"},
      body: JSON.stringify({
        "_csrf":token
      })
    })
     .then((res) => {
      if (res.ok) {
        window.location.reload();
      }
     })
     .catch((err) => console.erroe(err));
  }
    </script>

    <style>
      .Todo-Item:hover .trash-icon{
        display: block;
      }
    </style>

  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include("header.ejs") %>
        <p class="py-2">TODO Manager</p>
        <p class="py-2">New here ? <a href="/signup" class="text-green-600">Sign Up</a></p>
        <p class="py-2">Already have an account ? <a href="/login" class="text-green-600">Login</a></p>
        <%- include("footer.ejs") %>
      </div>
    </div>
  </body>
</html>